########################################################################
# main.config
# ----------------------------------------------------------------------
#
# @author Erwin Komaruloh <komaruloh@gmail.com>
#
# Main configuration bash execution framework.
# 
# Configuration is based on BASH shell syntax, as it will be eval as
# BASH. Config file and library is based on  Michael Klier 
# <chi@chimeric.de> work on parseconfig.sh 
# <http://www.chimeric.de/blog/2007/1122_parsing_simple_config_files_in_bash>
########################################################################

main {
    # 
    # directories
    #
    BASE_DIRECTORY=`pwd`/
    CONFIG_DIRECTORY=${BASE_DIRECTORY}config/
    LIB_DIRECTORY=${BASE_DIRECTORY}lib/
    SCRIPT_DIRECTORY=${BASE_DIRECTORY}script/
    DUMP_DIRECTORY=${BASE_DIRECTORY}dump/
    COMPRESSED_DIRECTORY=${BASE_DIRECTORY}compressed/
    LOG_DIRECTORY=${BASE_DIRECTORY}log/
    
    #
    # files needed for the framework
    #
    LIB_CONFIG_FILE_READER=${LIB_DIRECTORY}parseconfig.sh

    #
    # other configuration
    #
    SCRIPT_EXTENSION=".sh"
    CONFIG_EXTENSION=".config"
    LOG_EXTENSION=".log"

    DEFAULT_TAG=default

}
